.container {
  width: 80%;
  max-width: 360px;

  height: 100vh;
  max-height: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chat {
  height: 80%;
  width: 100%;
  background-color: #e6e6e6;
  overflow-y: auto;
  overflow-x: hidden;
}
textarea {
  width: 100%;
  height: 13%;

  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  border: none;
  position: relative;
  z-index: 0;

  font-size: 14pt;
}
textarea:focus {
  outline: none;
}
button.send {
  width: 100%;
  height: 7%;

  background-color: cornflowerblue;
  color: white;
  font-size: 18pt;
  border: none;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  transform-origin: center;
  position: relative;
  left: 0;
  z-index: 1;
}

button.send:focus {
  animation: click .4s ease forwards;
  outline: none;
}

.message {
  position: relative;
  box-sizing: border-box;
  margin: 10px;
}
.message.me {
  text-align: right;
}
.message.me > .wrap {
  background-color: cornflowerblue;
}
.wrap {
  max-width: 80%;
  min-width: 30%;
  background-color: white;
  display: inline-block;
  padding: 3px 10px;
  box-sizing: border-box;
  border-radius: 8px;
}


.set_name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;

  background-color: rgba(100, 100, 100, .4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.set_name > div {
  width: 80%;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(255,255,255, .4);
  height: 50%;
  max-height: 200px;
  box-sizing: border-box;

  border-radius: 15px;
  padding: 15px 0;
}
.set_name > div > div {
  width: 90%;
  margin: 5px 0;
}

.set_name input {
  padding: 5px 10px;
  font-size: 11pt;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  margin: 0;
  border: none;
  width: 70%;
}
.set_name input:focus {
  outline: none;
}
.set_name input+button {
  width: 30%;
  text-align: center;
  padding: 5px 0;
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 11pt;
  margin: 0;
  background-color: cornflowerblue;
  color: white;
  border: none;
}
.set_name input+button.loading {
    background-color: olive;
    content: '';
    position: relative;
    height: 20pt;
    z-index: 4;
}
.set_name input+button.loading > span {
  content: '';
  display: block;
  z-index: 11;
  position: absolute;
  width: 14px;
  height: 14px;
  left: calc(50% - 9px);
  top: calc(50% - 9px);
  border: 2px white dotted;
  border-radius: 50%;

  transform-origin: center;
  transform: translate(-50%, -50%);
  -webkit-animation: rotating 2s infinite;
}
.set_name input+button.success {
  background-color: olive;
  position: relative;
  content: '';
  height: 20pt;
}
.set_name input+button.success > span {
  content: '';
  display: block;
  z-index: 11;
  position: absolute;
  width: 14px;
  height: 14px;
  left: 50%;
  top: 50%;
  border: 2px white solid;
  border-radius: 50%;

  transform: translate(-50%, -50%);
}
.set_name input+button.success > span::before,
.set_name input+button.success > span::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 16px;
  height: 3px;
  transform-origin: left;
  transform: translate(-1px, 1px) rotate(-45deg);

  background-color: white;
}
.set_name input+button.success > span::after {
  transform: rotate(-135deg) translate(-1px, -1px);
  width: 12px;
  outline: none;
}

.set_name select {
  font-size: 16pt;
  width: 60%;
}


textarea {
  resize: none;
}
.hide {
  display: none;
}
.horizontal {
  flex-direction: row;
  align-items: center;
  display: flex;
}
.vertical {
  flex-direction: column;
  align-items: center;
  display: flex;
}
@keyframes click {
    0% {
      content: '';
      width: 100%;
    }
    25% {
      color: cornflowerblue;
      left: calc(50% - 32px);
      width: 64px;
      border-radius: 5px;

      transform: rotate(0deg);
    }
    50% {
      border-radius: 50%;
      height: 64px;
      transform: rotate(270deg) scale(1.5);
    }
    75% {
      color: cornflowerblue;
      left: calc(50% - 32px);
      width: 18%;

      border-radius: 0px;
      transform: rotate(0deg);
    }
    100% {
      color: white;
      left: 0;
      width: 100%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      content: 'send';
    }
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    left: 5px;
  }
  100% {
    left: 100px;
  }
}
